body {
    background:#333;
    font-size: 22px;
    line-height: 32px;
    color: #ffffff;
    margin: 0;
    padding: 0;
    word-wrap: break-word !important;
    font-family: 'roboto', sans-serif;
  }
  .toggle ,
  [id^]