

/* @import url(https://fonts.googleapis.com/css?family=roboto); */
body{
    background-color: #333;
    font-size: 22px;
    line-height: 32px;
    color: #fff;
    padding: 0;
    margin: 0;
    font-family: 'roboto',sans-serif;

}
a{
    color: #fff;
    text-decoration: none;
}
.toggle,[id^=drop]{
    display: none;
}
nav{
    margin: 0;
    padding: 0;
}
#logo{
    display: block;
    padding: 0 30px;
    float: left;
    font-size: 20px;
    line-height: 60px;
}
#main-toggle{
    background-color: rgb(52, 136, 136);
    cursor: pointer;
    float: right;
    padding: 28px 20px;
    position: relative;
    user-select: none;
}
.nav-icon{
    background-color: rgb(0, 4, 255);
    display: block;
    height: 2px;
    width: 18px;
    position: relative;
}
.nav-icon::before,
.nav-icon::after{
    background-color: rgb(38, 0, 255);
    content: '';
    display: block;
    height: 100%;
    width: 100%;
    position: absolute;    
}
.nav-icon::before{
    top:5px;
}
.nav-icon::after{
    top: -5px;
}
nav::after{
    content: '';
    display: table;
    clear: both;
}
nav ul{
    float: right;
    padding: 0;
    margin: 0;
    list-style: none;
    position: relative;
}
nav ul li{
    margin: 0;
  
    float: left;
    background: #515f9c;
    min-width: 150px;
}
nav a{
    display: block;
    padding: 0 20px;
    font-size: 20px;
    line-height: 60px;
}
nav ul li ul li:hover{
    background: #7083d8;
}
nav ul ul {
    display: none;
    position: absolute;
    top: 60px;
}
nav ul ul li{
    width: 170x;
    float: none;
    display: list-item;
    position: relative;
}
nav ul ul ul li{
    position: relative;
    top: -60px;
    left: 150px;
   
}
nav ul li:hover>ul{
    display: inherit;
}
li>a::after{
    content: "+";
}
li>a:only-child::after{
    content: "";
}
/* Media Queries
--------------------------- */
@media all and (max-width:768px){
    nav {
        margin: 0;
    }
    nav ul{
        float: none;
    }
    .toggle+a,
    .menu {
        display: none;
    }
    .toggle{
        display: block;
        /* ///////// */
    }
    .toggle:hover {
        background-color: #7083d8;
      }
    [id^=drop]:checked+ul{
        display: block;
    }
    nav ul li{
        display: block;
        width: 100%;
    }
    nav ul ul .toggle,
    nav ul ul a{
        padding: 0 40px;
    }
    nav ul ul ul a{
        padding: 0 80px;
        background:  #141625
    }
    nav ul ul {
        float: none;
        position: static;
        color:#ffffff;
    }
    nav ul ul li:hover,
    nav ul ul li:hover>ul{
        display: none;
    }
    nav ul ul li{
        display: block;
        width: 100px;
    }
    nav ul ul ul li{
        position: static;
    }
}